*{
    margin: 0; padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    box-sizing: border-box;
    
}
#titleview{
    font-size: 20pt;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    margin: 10px auto;
}

#lista_campos{
    border-collapse: collapse;
    page-break-inside: auto;
    width: 100%;
    background-color: rgba(82, 177, 113, 0.8);
    margin-bottom: 50px;
    
}

table thead{
    background-color: rgb(255, 152, 17);
    font-weight: bold;
    font-size: 20px;
    height: 40px;
}

td.codigo, td.depa{
    text-align: center;
}
td.codigo{
    font-weight: bold;
}
td.outros{
    padding: 10px;
}
td.descri{
    padding: 10px 25px;
}


tbody tr{
    height: 40px;
}

#lista_campos tbody tr:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(3, 54, 20);

    cursor: pointer;
}
#card-info{
    background-color: aquamarine;
    background-image: linear-gradient(rgb(73, 134, 73),rgb(0, 26, 9));
    text-align: center;
    margin: 15px auto 30px auto;
    padding: 5px;
    border-radius: 25px;
    border: 2px solid green;
}

#infocampo{
    margin: 25px auto 60px auto;
    text-align: justify;
    text-indent: 20px;
    color: white;
    text-shadow: 3px 0px 3px rgb(0, 0, 0);
}

#infocampo span{
    font-weight: bold;
}

#card-info-text{
    color: white;
    text-shadow: 2px 2px 3px black;
    margin: 15px 25px;
    font-size: 16pt;
}

#card-info-button{
    padding: 5px 15px;
    border-color: rgb(0, 75, 50);
    border-radius: 15px;
    margin: 15px;
}


body{
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: rgb(176, 255, 211);
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

}
a{
    text-decoration: none;
}

a.button{
    width: 90%;
    margin: 1%;
}

a.button-principal{
    height: 120px;
}

button:hover{
    cursor: pointer;
    color: rgb(250, 253, 250);
    background-image: linear-gradient(rgb(136, 192, 136),rgb(22, 82, 43));
    border-color: rgba(12, 122, 49, 0.705);
    box-shadow: 0px 0px 15px 3px rgb(147, 218, 162);
}

a.button-telas{
    height: 80px;
}

a.button button{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    box-shadow: 3px 3px 3px rgba(9, 66, 9, 0.507);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.descri{
    text-align: left;
    padding: 2px;
}

.icone{
    margin: 0 25px;
}


.cabecalho{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: center;
    background-color: rgb(122, 206, 206);
    background-image: linear-gradient(rgb(73, 134, 73),rgb(0, 26, 9));
    width: 100%;
    box-sizing: border-box;
}
.item-menu{
    display: flex;
    flex-flow: row nowrap;
}
.icon-menu{
    padding: 5px
}

.navegacao{
    width: 120px;
    height: 80px;
    margin: 2px 5px;
}

.navegacao button{
    width: 100%;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(9, 66, 9, 0.507);
}

#pesquisa{
    margin: 5px;
    font-size: 20px;
    text-indent: 10px;
}

.rodape{
    background-image: linear-gradient(rgb(73, 134, 73),rgb(0, 26, 9));
    text-align: center;
    padding: 15px 20px;
    margin-top: 25px;
    position: relative;
    bottom: 0;
}
.rodape h3{
    font-size: 16pt;
    margin: 0 auto 10px auto;
}

.rodape div{
    color: white;
    text-shadow: 3px 0px 2px black;
}

#conversao{
    text-align: center;
    background-color: rgba(0, 26, 9, 0.8);
    margin: 25px;
    padding: 20px 10px;
    color: white;
    text-shadow: 3px 2px 10px black;
}

#conversao input{
    margin: 25px 0;
    font-size: 18pt;
    text-align: center;
}

#clima{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
#sobre{
    text-align: center;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sobre h2{
    padding: 20px 0;
    color: white;
    text-shadow: 4px 0px 3px black;
}

#sobre div{
    width: 80%;
    color: white;
    font-size: 12pt;
    background-image: linear-gradient(rgb(73, 134, 73),rgb(0, 26, 9));
    padding: 25px 30px;
}

#sobre p{
    margin: 10px auto;
}