*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    background-color: rgb(139, 196, 214);
    text-align: center;
    margin: 0px;
}

h1{
    font-size: 18pt;
}

img{
    width: 25%;
    margin: 50px;
}

p#sobre{
    margin: 10px;
}